.submit {
    color: springgreen;
    background-color: silver;
    border-color: springgreen;
    border-radius: 20px;
    font-size: 50px;
    width: 450px;
    height: 85px;
}

.add {
    color: white;
    background-color: lightgreen;
    border-radius: 50%;
    font-size: 50px;
    width: 100px;
    height: 100px;
}

.account {
    color: white;
    background-color: blue;
    font-size: 50px;
    width: 400px;
    height: 85px;
    box-shadow: 10px 8px 2px 1px black;
}